@{
    ViewBag.Title = "Consultation";
    Layout = "~/Views/Shared/e_Master.cshtml";
}

@section styles{
    <link href="~/CommonJS/datatables.bootstrap.css" rel="stylesheet" />
}
<div ng-app="consultationApp" ng-controller="consultationCtrl" ng-init="vm.focus();" ng-cloak>
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Patient Consultation</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard/admin"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                        <li class="breadcrumb-item"><a href="/Task/Consultation">Patient Consultation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ Smart-Wizard ] start -->
            <div class="col-sm-12">
                <div class="card" ng-show="IsListDivVisible">
                    <div class="card-header">
                        <h5>Patient Consultation List</h5>
                        <div style="float: right; margin-right: 25px;">
                            <a class="" href="#" title="Add User" style="font-size: 25px;" ng-click="editClickPatient(null,'A')"><i class="feather icon-user-plus"></i></a>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive m-t-40">
                            <table id="PatientList" class="table table-hover" style="width: 100%" datatable="ng" dt-options="vm.dtOptions" ui-grid="gridOptions" ui-grid-selection>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="width:15px;">Select Patient</th>
                                        <th>Patient No</th>
                                        <th>Patient Name</th>
                                        <th>Mobile No</th>
                                        <th>Is Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr ng-repeat=" row in patientregList">
                                        <td>{{ $index +   1 }}</td>
                                        <td style="text-align:center"><input type="radio" name="checkbox-p-fill-1" class="radiobtn" ng-click="editClickoption(row)" style="padding-right: 10px;width: 18%;height: 2em;" id="checkbox-p-fill-1" value="{{row.Patient_Id}}"></td>
                                        <td>{{ row.Patient_no }}</td>
                                        <td>{{ row.FullName }}</td>
                                        <td>{{ row.Mobileno }}</td>
                                        <td>
                                            <span ng-switch on="row.ISACTIVE">
                                                <img ng-switch-when="Y" src="~/Assets/images/table/tick.jpg" style="width: 25px;">
                                                <img ng-switch-default src="~/Assets/images/table/cross.jpg" style="width: 25px;">
                                            </span>
                                        </td>

                                        <td>
                                            @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                            <a><i class="fa fa-edit text-primary" title="Edit" ng-click="editClickPatient(row,'E')" style="padding-right: 10px;"></i></a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
                <div class="card" ng-show="IsEditDivVisible">
                    <div class="card-header">
                        <h5>Add Patient</h5>
                        <div style="float: right; margin-right: 25px;">
                            <a class="" href="#" title="Cancel" data-toggle="tooltip" style="font-size: 25px;" ng-click="Cancelpatientreg()"><i class="feather icon-user-x"></i></a>
                        </div>
                        <div style="float: right; margin-right: 25px;">
                            <a class="" href="#" title="Save" data-toggle="tooltip" style="font-size: 28px;" ng-click="submitFormPatient(patientregForm.$valid,obj)"><i class="feather icon-save"></i></a>
                        </div>
                    </div>
                    <div class="card-block">
                        <form name="patientregForm" ng-submit="submitFormPatient(patientregForm.$valid,obj)" novalidate>
                            @*<div class="row">
                                    <div class="col-12 col-md-6">

                                        <select id="theme_selector" class="form-control custom-select col-lg-6 col-sm-12">
                                            <option value="default">default</option>
                                            <option value="arrows">arrows</option>
                                            <option value="dots">dots</option>
                                        </select>
                                        <!-- [ External toolbar sample ] End -->
                                    </div>
                                </div>*@
                            <!-- [ SmartWizard html ] start -->
                            <br />
                            <div id="smartwizard">
                                <ul>
                                    <li>
                                        <a href="#step-1">
                                            <h6>Step 1</h6>
                                            <h6>Basic Info</h6>
                                            @*   <p class="m-0">This is step Basic Information of patient </p>*@
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2">
                                            <h6>Step 2</h6>
                                            <h6>Personal Details</h6>
                                            @*  <p class="m-0">This is step Personal Details</p>*@
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3">
                                            <h6>Step 3</h6>
                                            <h6>Contact Details</h6>
                                            @*   <p class="m-0">This is step Contact Details</p>*@
                                        </a>
                                    </li>
                                    @*
                                        <li>
                                            <a href="#step-4">
                                                <h6>Step 4</h6>
                                                <p class="m-0">This is step content</p>
                                            </a>
                                        </li>*@
                                </ul>
                                <div>
                                    <div id="step-1">
                                        @*<h5>Step 1</h5>*@
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Title</label>
                                                    @*<input type="text" class="form-control" autocomplete="off" maxlength="60" placeholder="Title" name="Title" ng-model="obj.Title_id">*@
                                                    <select name="Title" class="form-control" ng-model="obj.Title_id">
                                                        <option value="">--Choose here--</option>
                                                        <option value="Mr">Mr</option>
                                                        <option value="Mrs">Mrs</option>
                                                        <option value="MissMs">MissMs</option>
                                                        <option value="Dr">Dr</option>
                                                        <option value="Prof">Prof</option>
                                                        <option value="Rev">Rev</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6" ng-class="{'has-error':patientregForm.FirstName.$invalid && !patientregForm.FirstName.$pristine,'has-success': patientregForm.FirstName.$valid }">
                                                <div class="form-group">
                                                    <label class="form-label">FirstName</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="60" name="FirstName" ng-model="obj.FirstName" required>
                                                    <p ng-show="patientregForm.FirstName.$invalid && !patientregForm.FirstName.$pristine" class="help-block">This field is required..</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" ng-class="{'has-error':patientregForm.LName.$invalid && !patientregForm.LName.$pristine,'has-success': patientregForm.LName.$valid }">
                                                <div class="form-group">
                                                    <label class="form-label">LastName</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="60" name="LName" ng-model="obj.Lastname" required>
                                                    <p ng-show="patientregForm.LName.$invalid && !patientregForm.LName.$pristine" class="help-block">This field is required..</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6" ng-class="{'has-error':patientregForm.Emailid.$invalid && !patientregForm.Emailid.$pristine,'has-success': patientregForm.Emailid.$valid }">
                                                <div class="form-group">
                                                    <label class="form-label">Email Address</label>
                                                    <input type="email" class="form-control email" autocomplete="off" maxlength="60" placeholder="johnsmith@ashburton.com" name="Emailid" ng-model="obj.Email" validate-email>
                                                    <p ng-show="patientregForm.Emailid.$invalid && !patientregForm.Emailid.$pristine" style="white-space: pre-wrap; color: yellow;" class="form-text text-muted">Please enter Valid email address.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6" ng-class="{'has-error':patientregForm.Age.$invalid && !patientregForm.Age.$pristine,'has-success': patientregForm.Age.$valid }">
                                                <div class="form-group">
                                                    <label class="form-label">Age</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="2" name="Age" ng-model="obj.Age">
                                                    <p ng-show="patientregForm.Age.$invalid && !patientregForm.Age.$pristine" class="help-block">This field is required..</p>
                                                </div>
                                            </div>


                                            <div class="col-md-6" ng-class="{'has-error':patientregForm.Mobileno.$invalid && !patientregForm.Mobileno.$pristine,'has-success': patientregForm.Mobileno.$valid }">
                                                <div class="form-group">
                                                    <label class="form-label">Mobile Number</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="10"  name="Mobileno" ng-model="obj.Mobileno" id="mobno" required>
                                                    <p ng-show="patientregForm.Mobileno.$invalid && !patientregForm.Mobileno.$pristine" class="help-block">This field is required..</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="step-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Gender</label>
                                                    @*<input type="text" class="form-control" autocomplete="off" maxlength="60" placeholder="Gender" name="Gender" ng-model="obj.Gender">*@
                                                    <select name="Gender" class="form-control" ng-model="obj.Gender">
                                                        <option value="" selected disabled hidden>--Choose here--</option>
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                        <option value="O">Others</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-md-6" ng-class="{'has-error':patientregForm.DOB.$invalid && !patientregForm.DOB.$pristine,'has-success': patientregForm.DOB.$valid }">
                                                <div class="form-group">
                                                    <label class="form-label">Date of birth</label>
                                                    <input id="d_auto" type="text" name="DOB" ng-model="obj.DOB" placeholder="dd/mm/yyyy" class="form-control datepickerFuction" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Occupation</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="60" name="Occupation" ng-model="obj.Occupation">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Blood Group</label>
                                                    @*<input type="text" class="form-control" autocomplete="off" maxlength="60" name="Blood_Group" ng-model="obj.Blood_Group">*@
                                                    <select name="Blood_Group" class="form-control" ng-model="obj.Blood_Group">

                                                        <option value="" selected disabled hidden>--Choose here--</option>
                                                        <option value="AP">A Positive</option>
                                                        <option value="AN">A Negative</option>
                                                        <option value="AU">A Unknown</option>
                                                        <option value="BP">B Positive</option>
                                                        <option value="BN">B Negative</option>
                                                        <option value="BU">B Unknown</option>
                                                        <option value="ABP">AB Positive</option>
                                                        <option value="ABN">AB Negative</option>
                                                        <option value="ABU">AB Unknown</option>
                                                        <option value="OP">O Positive</option>
                                                        <option value="ON">O Negative</option>
                                                        <option value="OU">O Unknown</option>
                                                        <option value="U">Unknown</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label">Marital Status</label>
                                                <select name="Gender" class="form-control" ng-model="obj.Marital_Status">
                                                    <option value="" selected disabled hidden>--Choose here--</option>
                                                    <option value="">--Choose here--</option>
                                                    <option value="Single">Single</option>
                                                    <option value="Married">Married</option>
                                                    <option value="Widowed">Widowed</option>
                                                    <option value="Separated">Separated</option>
                                                    <option value="Divorced">Divorced</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Referred by</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="60" name="Refer" ng-model="obj.Referred_by">
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">Health Details</label>
                                                    <textarea class="form-control" name="HDetails" ng-model="obj.critical_info" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">Home Address</label>
                                                    <textarea class="form-control" placeholder="1234 Main St" name="Homeaddress" ng-model="obj.Home_address" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">Current Address</label>
                                                    <textarea class="form-control" placeholder="1234 Main St" name="Currentaddress" ng-model="obj.Current_address" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">country</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="60" name="country" ng-model="obj.country">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">State</label>

                                                    <select class="form-control selectpicker show-menu-arrow show-tick" data-live-search="true" data-actions-box="true" ng-change="BindCity(obj)" ng-model="obj.state" name="State" ng-options="State.STATE_CODE as (State.STATE_NAME) for State in StateList">
                                                        <option value="">--Select State--</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">City</label>
                                                    <select class="form-control selectpicker show-menu-arrow show-tick" ng-disabled="!obj.state" data-live-search="true" data-actions-box="true" ng-model="obj.City" name="City" ng-options="City.CITY_CODE as (City.CITY_NAME) for City in CityList">
                                                        <option value="">--Select City--</option>
                                                    </select>
                                                </div>
                                            </div>

                                            @*<div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Ethnicity</label>
                                                    <input type="text" class="form-control" autocomplete="off" maxlength="60" name="country" ng-model="obj.Ethnicity">
                                                </div>
                                            </div>*@
                                            <div class="col-md-6">
                                                <div class="checkbox checkbox-info d-inline">
                                                    <input type="checkbox" name="IsActive" id="chkIsActive" ng-model="obj.ISACTIVE">
                                                    <label for="chkIsActive" style="padding-top: 40px; padding-left: 4px;" class="cr">Is Active</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <form name="VitalsForm" ng-submit="submitFormVitals(VitalsForm.$valid,obj)" novalidate>
                <!-- [ Smart-Wizard ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Symptoms</h5>

                            <div class="col-md-12" ng-class="{'has-error':VitalsForm.Symtoms.$invalid && !VitalsForm.Symtoms.$pristine,'has-success': VitalsForm.Symtoms.$valid }">
                                <div class="form-group">
                                    <br />
                                    <textarea class="form-control" name="Symtoms" id="Symtoms" ng-model="obj.Symtoms" rows="3" required ng-init="setFocus();"></textarea>
                                    <p ng-show="VitalsForm.Symtoms.$invalid && !VitalsForm.Symtoms.$pristine" class="help-block">This field is required..</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12" style="padding-left: 29px;">
                        <div class="card">
                            <div class="card-header">
                                <h5>Vitals</h5>

                                <div class="row">

                                    <div class="col-md-3">
                                        <br />
                                        <div class="form-group">

                                            <label class="form-label">BP Systolic</label>
                                            <input type="text" class="form-control" autocomplete="off" id="BP_systolic" maxlength="60" name="BP_systolic" numbers-only ng-model="obj.BP_systolic">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        <div class="form-group">
                                            <label class="form-label">BP Diastolic</label>
                                            <input type="text" class="form-control" autocomplete="off" maxlength="60" name="BP_Diastolic" numbers-only ng-model="obj.BP_Diastolic">
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-class="{'has-error':VitalsForm.Temperature.$invalid && !VitalsForm.Temperature.$pristine,'has-success': VitalsForm.Temperature.$valid }">
                                        <br />
                                        <div class="form-group">
                                            <label class="form-label">Temperature</label>
                                            <input type="text" class="form-control" autocomplete="off" maxlength="60" placeholder="00.0" name="Temperature" ng-model="obj.Temperature" ng-pattern="/^[0-9][0-9]+(\.[0-9]{1,3})?$/" step="0.01" required>
                                            <p ng-show="VitalsForm.Temperature.$invalid && !VitalsForm.Temperature.$pristine" class="help-block">This field is required..</p>
                                            <label class="form-label">°F</label>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <br />
                                        <div class="form-group">
                                            <label class="form-label">Pulse</label>
                                            <input type="text" class="form-control" autocomplete="off" maxlength="60" name="Pulse" numbers-only ng-model="obj.Pulse">
                                            <label class="form-label">bpm</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Height</label>
                                            <input type="text" class="form-control" autocomplete="off" maxlength="60" name="Height" numbers-only ng-model="obj.Height">
                                            <label class="form-label">Cm</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-class="{'has-error':VitalsForm.Weight.$invalid && !VitalsForm.Weight.$pristine,'has-success': VitalsForm.Weight.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Weight</label>
                                            <input type="text" class="form-control" autocomplete="off" maxlength="60" name="Weight" numbers-only ng-model="obj.Weight" required>
                                            <p ng-show="VitalsForm.Weight.$invalid && !VitalsForm.Weight.$pristine" class="help-block">This field is required..</p>
                                            <label class="form-label">kg</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align:end;" class="col-md-12">
                                    <button type="submit" class="btn btn-outline-primary" title="" data-toggle="tooltip" data-original-title="Submit">Save Vitals</button>
                                    @*<button type="button" ng-click="Cancelphysicianmaster()" class="btn btn-outline-secondary" title="" data-toggle="tooltip" data-original-title="Cancel">Cancel</button>*@
                                    @*<a class="btn btn-outline-secondary" title="Cancel" href="/Dashboard/admin" data-toggle="tooltip" data-original-title="Cancel">Cancel</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- [ Smart-Wizard ] start -->
                    <div class="col-sm-12">
                        <div class="card" ng-show="IsListVitalsdetailVisible">
                            <div class="card-block">
                                <div class="table-responsive m-t-40">
                                    <table class="table table-bordered table-striped mb-0 dataTable no-footer" style="width: 100%" datatable="ng" dt-options="vm.dtOptions">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Patient VisitID</th>
                                                <th>Temperature</th>
                                                <th>Weight</th>
                                                <th>Height</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr ng-repeat=" row in VitalsList">
                                                <td>{{ $index +   1 }}</td>
                                                <td>{{ row.PatientVisitID }}</td>
                                                <td>{{ row.Temperature }}</td>
                                                <td>{{ row.Weight }}</td>
                                                <td>{{ row.Height }}</td>
                                                <td>

                                                    <a><i class="feather icon-edit mr-1" title="Edit" ng-click="editClickVitals(row,'E')" style="padding-right: 10px;"></i></a>
                                                </td>
                                                <td>
                                                    @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                                    <a><i class="feather icon-trash-2" title="Delete" ng-click="DeleteVitalsMaster(row)" style="padding-right: 10px;"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Prescription Deatils</h5>
                    </div>
                    <div class="card-block">
                        <div id="smartwizard-left" class="sw-vertical-left">
                            <ul>
                                <li>
                                    <a href="#step-l-3">
                                        <h6>Step 1</h6>
                                        <p class="m-0">Diagnostics</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-l-4">
                                        <h6>Step 2</h6>
                                        <p class="m-0">Prescription</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-l-5">
                                        <h6>Step 3</h6>
                                        <p class="m-0">Test Order</p>
                                    </a>
                                </li>
                            </ul>
                            <div>


                                <div id="step-l-3">
                                    <h5>Diagnostics</h5>
                                    <hr>
                                    <div class="col-sm-12">
                                        <div class="card" ng-show="IsListDiagnosisDivVisible">
                                            <div class="card-header">
                                                <h5>Diagnostics List</h5>
                                                @*<div style="float: right; margin-right: 25px;">
                                                        <a class="" title="Add Diagnosis" style="font-size: 25px; color:blue;" data-toggle="tooltip" ng-click="editClick(null,'A')"><i class="feather icon-user-plus"></i></a>
                                                    </div>*@
                                                <div class="card-header-right addnew">
                                                    <button type="button" class="btn btn-secondary text-uppercase has-ripple" ng-click="editClick(null,'A')"><i class="mr-2 feather icon-user-check"></i><span class="adn_text">Add New</span><span class="ripple ripple-animate" style="height: 184.75px; width: 184.75px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -62.8295px; left: -40.4318px;"></span></button>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="table-responsive m-t-40">
                                                    <table class="table table-bordered table-striped mb-0 dataTable no-footer" style="width: 100%" datatable="ng" dt-options="vm.dtOptions">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Diagnosis Title</th>
                                                                <th>Description</th>
                                                                <th>From Date</th>
                                                                <th>Edit</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>

                                                            <tr ng-repeat=" row in DiagnosisList">
                                                                <td>{{ $index +   1 }}</td>
                                                                <td>{{ row.Diagnosis_title }}</td>
                                                                <td>{{ row.Diagnosis_desc }}</td>
                                                                <td>{{ row.CreatedAt }}</td>
                                                                <td>
                                                                    @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                                                    <a><i class="feather icon-edit mr-1" title="Edit" ng-click="editClick(row,'E')" style="padding-right: 10px;"></i></a>
                                                                </td>
                                                                <td>
                                                                    @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                                                    <a><i class="feather icon-trash-2" title="Delete" ng-click="DeleteDiagnosisMaster(row)" style="padding-right: 10px;"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="card" ng-show="IsEditDiagnosisVisible">
                                            <div class="card-header">
                                                <h5>Add Diagnostics</h5>
                                            </div>

                                            <div class="card-block">
                                                <form name="DiagnosisForm" ng-submit="submitForm(DiagnosisForm.$valid,obj)" novalidate>

                                                    <div class="col-md-6" ng-class="{'has-error':DiagnosisForm.Title.$invalid && !DiagnosisForm.Title.$pristine,'has-success': DiagnosisForm.Title.$valid }">
                                                        <div class="form-group">
                                                            <label class="form-label">Diagnosis Title</label>
                                                            <input type="text" class="form-control" style="width:250px;" autocomplete="off" maxlength="60" name="Title" ng-model="obj.Diagnosis_title" required>
                                                            <p ng-show="DiagnosisForm.Title.$invalid && !DiagnosisForm.Title.$pristine" class="help-block">This field is required..</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12" ng-class="{'has-error':DiagnosisForm.Diagnosis.$invalid && !DiagnosisForm.Diagnosis.$pristine,'has-success': DiagnosisForm.Diagnosis.$valid }">
                                                        <div class="form-group">
                                                            <label class="form-label">Diagnosis</label>
                                                            <textarea class="form-control" name="Diagnosis" style="width:619px;resize:horizontal;" ng-model="obj.Diagnosis_desc" rows="3" required></textarea>
                                                            <p ng-show="DiagnosisForm.Diagnosis.$invalid && !DiagnosisForm.Diagnosis.$pristine" class="help-block">This field is required..</p>
                                                        </div>
                                                    </div>

                                                    <div style="float: right;">
                                                        <button type="submit" class="btn btn-outline-primary" title="" data-toggle="tooltip" data-original-title="Submit">Submit</button>
                                                        <button type="button" ng-click="CancelDiagnosismaster()" class="btn btn-outline-secondary" title="" data-toggle="tooltip" data-original-title="Cancel">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-l-4">
                                    <h5>Prescription</h5>
                                    <hr>
                                    <div class="col-sm-12">
                                        <div class="card" ng-show="IsListPrescriptionDivVisible">
                                            <div class="card-header">
                                                <h5>Prescription List</h5>
                                                @*<div style="float: right; margin-right: 25px;">
                                                        <a class="" title="Add Drug" style="font-size: 25px; color:blue;" data-toggle="tooltip" ng-click="editClickPrescription(null,'A')"><i class="feather icon-user-plus"></i></a>
                                                    </div>*@

                                                @*<div class="card-header-right">
                                                        <button type="button" class="btn waves-effect waves-light btn-primary m-0 has-ripple" ng-click="editClickPrescription(null,'A')" data-toggle="modal" data-target="#exampleModal">
                                                            Add NewDrug
                                                            <span class="ripple ripple-animate" style="height: 137.023px; width: 137.023px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -38.2388px; left: -35.5797px;"></span>
                                                        </button>
                                                    </div>*@
                                                <div class="card-header-right addnew">
                                                    <button type="button" class="btn btn-secondary text-uppercase has-ripple" ng-click="editClickPrescription(null,'A')"><i class="mr-2 feather icon-user-check"></i><span class="adn_text">Add New</span><span class="ripple ripple-animate" style="height: 184.75px; width: 184.75px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -62.8295px; left: -40.4318px;"></span></button>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="table-responsive m-t-40">
                                                    <table class="table table-bordered table-striped mb-0 dataTable no-footer" style="width: 100%" datatable="ng" dt-options="vm.dtOptions">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Drug Name</th>
                                                                <th>Quantity</th>
                                                                <th>Dose type</th>
                                                                <th>Edit</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>

                                                            <tr ng-repeat=" row in PrescriptionList">
                                                                <td>{{ $index +   1 }}</td>
                                                                <td>{{ row.DrugName }}</td>
                                                                <td>{{ row.Quantity }}</td>
                                                                <td>{{ row.Dose_qty }}</td>
                                                                <td>
                                                                    @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                                                    <a><i class="feather icon-edit mr-1" title="Edit" ng-click="editClickPrescription(row,'E')" style="padding-right: 10px;"></i></a>
                                                                </td>
                                                                <td>
                                                                    @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                                                    <a><i class="feather icon-trash-2" title="Delete" ng-click="DeletePrecriptionMaster(row)" style="padding-right: 10px;"></i></a>
                                                                    @*<a><img src="~/Assets/images/animat-essential/image/delete.gif" style="width: 50px;padding-right: 10px;" /></a>*@
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="card" ng-show="IsEditPrescriptionVisible">
                                            <div class="card-header">
                                                <h5>Add Drug</h5>
                                            </div>

                                            <div class="card-block">
                                                <form name="PrescriptionForm" ng-submit="submitFormprecription(PrescriptionForm.$valid,obj);" novalidate>

                                                    <div class="form-group col-md-6" ng-class="{'has-error':PrescriptionForm.Drug.$invalid && !PrescriptionForm.Drug.$pristine,'has-success': PrescriptionForm.Drug.$valid }">
                                                        <div class="form-group">
                                                            <label class="form-label">Drug Name</label>

                                                            <select class="form-control js-example-basic-single form-control" data-live-search="true" data-actions-box="true" ng-model="obj.Drug_id" name="Drug" required ng-options="Drug.DRUGID as (Drug.DRUGNAME) for Drug in DrugList">

                                                                @*<option value="">--Select Drug Name--</option>*@
                                                            </select>
                                                            <p ng-show="PrescriptionForm.Drug.$invalid && !PrescriptionForm.Drug.$pristine" class="help-block">This field is required..</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6" ng-class="{'has-error':PrescriptionForm.Quantity.$invalid && !PrescriptionForm.Quantity.$pristine,'has-success': PrescriptionForm.Quantity.$valid }">
                                                        <div class="form-group">
                                                            <label class="form-label">Quantity</label>
                                                            <input type="text" class="form-control" style="width:250px;" autocomplete="off" maxlength="60" name="Quantity" ng-model="obj.Quantity" required>
                                                            <p ng-show="PrescriptionForm.Quantity.$invalid && !PrescriptionForm.Quantity.$pristine" class="help-block">This field is required..</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6" ng-class="{'has-error':PrescriptionForm.Dose.$invalid && !PrescriptionForm.Dose.$pristine,'has-success': PrescriptionForm.Dose.$valid }">
                                                        <div class="form-group">
                                                            <label class="form-label">Dose Type</label>

                                                            <select class="form-control selectpicker show-menu-arrow show-tick" data-live-search="true" data-actions-box="true" ng-model="obj.Doses_id" required name="Dose" ng-options="Dose.DOSE_ID as (Dose.DOSE_QTY) for Dose in DoseList">
                                                                <option value="">--Select Dose Type--</option>
                                                            </select>
                                                            <p ng-show="PrescriptionForm.Dose.$invalid && !PrescriptionForm.Dose.$pristine" class="help-block">This field is required..</p>
                                                        </div>
                                                    </div>

                                                    @*<div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label">Stength</label>
                                                                <textarea class="form-control" name="Diagnosis" style="width:619px;resize:horizontal;" ng-model="obj.strength" rows="3"></textarea>
                                                            </div>
                                                        </div>*@
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-label">Comments</label>
                                                            <textarea class="form-control" name="Diagnosis" style="width:619px;resize:horizontal;" ng-model="obj.Directionforuse" rows="3"></textarea>
                                                        </div>
                                                    </div>


                                                    <div style="float: right;">
                                                        <button type="submit" class="btn btn-outline-primary" title="" data-toggle="tooltip" data-original-title="Submit">Submit</button>
                                                        <button type="button" ng-click="CancelPrescriptionmaster()" class="btn btn-outline-secondary" title="" data-toggle="tooltip" data-original-title="Cancel">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="step-l-5">
                                    <h5>Test Order</h5>
                                    <hr>
                                    <div class="col-sm-12">
                                        <div class="card" ng-show="IsListTestDivVisible">
                                            <div class="card-header">
                                                <h5>Test Order List</h5>
                                                @*<div style="float: right; margin-right: 25px;">
                                                        <a class="" title="Add Test" style="font-size: 25px; color:blue;" data-toggle="tooltip" ng-click="editClickTest(null,'A')"><i class="feather icon-user-plus"></i></a>
                                                    </div>*@
                                                <div class="card-header-right addnew">
                                                    <button type="button" class="btn btn-secondary text-uppercase has-ripple" ng-click="editClickTest(null,'A')"><i class="mr-2 feather icon-user-check"></i><span class="adn_text">Add New</span><span class="ripple ripple-animate" style="height: 184.75px; width: 184.75px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -62.8295px; left: -40.4318px;"></span></button>
                                                </div>

                                            </div>
                                            <div class="card-block">
                                                <div class="table-responsive m-t-40">
                                                    <table class="table table-bordered table-striped mb-0 dataTable no-footer" style="width: 100%" datatable="ng" dt-options="vm.dtOptions">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Test Name</th>
                                                                <th>Test Details</th>
                                                                <th>Edit</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>

                                                            <tr ng-repeat=" row in TestList">
                                                                <td>{{ $index +   1 }}</td>
                                                                <td>{{ row.InvName }}</td>
                                                                <td>{{ row.Test_details }}</td>
                                                                <td>
                                                                    @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                                                    <a><i class="feather icon-edit mr-1" title="Edit" ng-click="editClickTest(row,'E')" style="padding-right: 10px;"></i></a>
                                                                </td>
                                                                <td>
                                                                    @*<a href="#!" class="btn btn-icon btn-outline-primary has-ripple" style="width: 36px; height: 40px;"><i class="feather icon-edit" ng-click="editClick(row,'E')" title="Edit"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 1.5px; left: 5.5px;"></span></a>*@
                                                                    <a><i class="feather icon-trash-2" title="Delete" ng-click="DeleteTestMaster(row)" style="padding-right: 10px;"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="card" ng-show="IsEditTestVisible">
                                            <div class="card-header">
                                                <h5>Add Test Order</h5>
                                            </div>

                                            <div class="card-block">
                                                <form name="TestForm" ng-submit="submitFormTest(TestForm.$valid,obj)" novalidate>

                                                    <div class="form-group col-md-6" ng-class="{'has-error':TestForm.Test.$invalid && !TestForm.Test.$pristine,'has-success': TestForm.Test.$valid }">
                                                        <div class="form-group">
                                                            <label class="form-label">Test Name</label>

                                                            <select class="form-control selectpicker show-menu-arrow show-tick" data-live-search="true" data-actions-box="true" required ng-model="obj.Test_id" name="Test" ng-change="testNameChange()" ng-options="Test.INVESTICATIONID as (Test.INVNAME) for Test in TestdetailList">
                                                                <option value="">--Select Test Name--</option>
                                                            </select>
                                                            <p ng-show="TestForm.Test.$invalid && !TestForm.Test.$pristine" class="help-block">This field is required..</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12" ng-class="{'has-error':TestForm.Test_details.$invalid && !TestForm.Test_details.$pristine,'has-success': TestForm.Test_details.$valid }">
                                                        <div class="form-group">
                                                            <label class="form-label">Test Details</label>
                                                            <textarea class="form-control" style="width:529px;resize:horizontal;" ng-model="obj.Test_details" name="Test_details" rows="3" required></textarea>
                                                            <p ng-show="TestForm.Test_details.$invalid && !TestForm.Test_details.$pristine" class="help-block">This field is required..</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="form-label">Document Upload</label>
                                                            <br>
                                                            <input type="file" multiple ng-model-instant id="fileToUpload" class="dropzone dz-clickable" onchange="angular.element(this).scope().setFiles(this)" />
                                                            <a class="" title="Download" data-toggle="tooltip" style="font-size: 28px;" ng-click="Download()" data-original-title="Download"><i class="feather icon-download"></i></a>
                                                        </div>

                                                    </div>
                                                    <!-- [ file-upload ] end -->


                                                    <div style="float: right;">
                                                        <button type="submit" class="btn btn-outline-primary" title="" data-toggle="tooltip" data-original-title="Submit">Submit</button>
                                                        <button type="button" ng-click="CancelTestmaster()" class="btn btn-outline-secondary" title="" data-toggle="tooltip" data-original-title="Cancel">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-top">
                                        <div class="btn-group mr-2 sw-btn-group" role="group">
                                            <button class="btn btn-rounded btn-outline-primary sw-btn-prev disabled" type="button">Previous</button>
                                            <button class="btn btn-rounded btn-outline-primary sw-btn-next" type="button">Next</button>
                                        </div>
                                    </div>*@


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- [ Smart-Wizard ] start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Docotor Report</h5>
                        <form name="PrescriptForm" ng-submit="submitFormPrescript(PrescriptForm.$valid,obj)" novalidate>
                            <div class="row">
                                <div class="col-md-12" ng-class="{'has-error':PrescriptForm.Doctorreport.$invalid && !PrescriptForm.Doctorreport.$pristine,'has-success': PrescriptForm.Doctorreport.$valid }">
                                    <div class="form-group">
                                        <br />
                                        <textarea class="form-control" name="Doctorreport" ng-model="obj.Doctorreport" rows=" 3" required></textarea>
                                        <p ng-show="PrescriptForm.Doctorreport.$invalid && !PrescriptForm.Doctorreport.$pristine" class="help-block">This field is required..</p>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:end;" class="col-md-12">

                                <button type="submit" class="btn btn-outline-primary" title="" data-toggle="tooltip" data-original-title="Submit">Save</button>
                                <button class="btn btn-outline-secondary" type="button" ng-click="PrintConsulation()" data-toggle="modal" data-target="#printTable"> Print</button>
                                <button type="button" class="btn btn-outline-dark" ng-click="Sendmail()" ><i class="feather icon-mail"></i>Send Email</button>
                                @*<a class="btn btn-outline-danger " ng-click="CancelPrint()" title="Cancel" data-toggle="tooltip" data-original-title="Cancel">Cancel</a>*@
                                <a class="btn btn-outline-danger" title="Cancel" href="/Dashboard/admin" data-toggle="tooltip" data-original-title="Cancel">Cancel</a>
                            </div>
                            <div class="col-sm-6 text-right">

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        <div class=" modal fade" id="printTable" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" ng-show="Print">
            <div class="modal-dialog" style="max-width:900px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Print</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container printTable " id="printTable" ng-show="Print">
                            <div>
                                <div class="card hei-75 wid-75 bg-light d-inline-block mr-2 border border-primary" style="width:100%;">

                                    <div class="card-block" id="test">
                                        <div class="row invoive-info">
                                            <div class="col-md-4 col-xs-12 invoice-client-info">
                                                <h6 class="text-uppercase text-primary">Doctor Information :</h6>
                                                <h6 class="m-0" id="lblDocNam"></h6>
                                                <p class="m-0 m-t-10" id="lblspeciality"></p>
                                                <p class="m-0" id="lblemaildoctor"><a class="text-secondary" href="" target="_top"></a></p>
                                            </div>

                                            <div class="col-md-4 col-xs-12" style="height: auto; font-size: 40px;text-align: center; font-family: 'Malgun Gothic'; font-weight: bold;">

                                                <img src="~/Assets/images/172-512.png" style="width: 110px; " />

                                            </div>

                                            <div class="col-md-4 col-xs-12">
                                                <h6 class="text-uppercase text-primary">Address Details :</h6>
                                                <h6 class="m-0" id="lbladdress"></h6>
                                                <p class="m-0 m-t-10" id="lbldmobileno">1065 Mandan Road, Columbia MO, Missouri. (123)-65202</p>
                                                @*<p class="m-0 m-t-10" id="lbldemail"><a class="text-secondary" href="mailto:demo@gmail.com" target="_top">demo@gmail.com</a></p>*@
                                            </div>
                                        </div>
                                        <div class="card-body border-top show">
                                            <h6 class="text-uppercase text-primary">Patient Information :</h6>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <label class="col-form-label font-weight-bolder">Patient : </label>
                                                        <label class="col-form-label font-weight-bolder" id="lblpname"></label>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="col-form-label font-weight-bolder">Age: </label>
                                                        <label class="col-form-label font-weight-bolder" id="lblage"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="col-form-label font-weight-bolder">Sex: </label>
                                                        <label class="col-form-label font-weight-bolder" id="lblsex"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="col-form-label font-weight-bolder">Mobile: </label>
                                                        <label class="col-form-label font-weight-bolder" id="lblpmobileno"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="col-form-label font-weight-bolder">ECG:</label>
                                                        Lary Doe
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="col-form-label font-weight-bolder">Co Morbidities:</label>
                                                        Lary Doe
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="col-form-label font-weight-bolder">Echo:</label>
                                                        Lary Doe
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="col-form-label font-weight-bolder">BP/PR:</label>
                                                        <label class="col-form-label font-weight-bolder" id="lblBP"></label>
                                                        <label class="col-form-label font-weight-bolder" id="lblBPdia"></label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="table-responsive">
                                                    <table class="table  invoice-detail-table">
                                                        <thead>
                                                            <tr class="thead-default">
                                                                <th>Dose Id</th>
                                                                <th>Dose Name</th>
                                                                <th>Dose Qty</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tbody>

                                                            <tr ng-repeat=" row in PrintList">
                                                                <td>{{ $index +   1 }}</td>
                                                                <td>{{ row.DrugName }}</td>
                                                                <td>{{ row.Dose_qty }}</td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6 class="text-uppercase text-primary">Docotor Report :</h6>
                                                <label class="col-form-label font-weight-bolder" id="lbldreport" style="white-space:pre-wrap;"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row text-center">
                                    <div class="col-sm-12 invoice-btn-group text-center">
                                        <button type="button" ng-click="Print()" class="btn btn-primary btn-print-invoice m-b-10">Print</button>
                                        <button type="button" ng-click="CancelPrint()" class="btn btn-secondary m-b-10 ">Cancel</button>
                                    </div>
                                </div>*@

                            <div style="text-align:end;" class="col-md-12">
                                <button type="button" ng-click="PrintS()" class="btn btn-outline-secondary" title="" data-toggle="tooltip" data-original-title="Print Preview">Print</button>
                                <a class="btn btn-outline-danger " title="Cancel" data-dismiss="modal" data-toggle="tooltip" data-original-title="Cancel">Cancel</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="../CommonJS/jquery.dataTables.min.js"></script>
    <script src="../CommonJS/angular-datatable.min.js"></script>
    <script src="~/AngularJS/Task/Consultation/Consultation-app.js"></script>
    <script src="~/AngularJS/Task/Consultation/Consultation-controller.js"></script>
    <script src="~/AngularJS/Task/PatientRegistration/PatientReg-app.js"></script>
    <script src="~/AngularJS/Task/PatientRegistration/PatientReg-controller.js"></script>

}
