
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DR'S PAD</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template">
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="../assets/plugins/animation/css/animate.min.css">
    <!-- notification css -->
    <link rel="stylesheet" href="../assets/plugins/notification/css/notification.min.css">
    <!-- toolbar css -->
    <link rel="stylesheet" href="../assets/plugins/toolbar/css/jquery.toolbar.css">
    <!-- fileupload-custom css -->
    <link rel="stylesheet" href="../assets/css/pages/fileupload.css">
    <!-- smart wizard -->
    <link rel="stylesheet" href="../assets/plugins/smart-wizard/css/smart_wizard.min.css">
    <link rel="stylesheet" href="../assets/plugins/smart-wizard/css/smart_wizard_theme_arrows.min.css">
    <link rel="stylesheet" href="../assets/plugins/smart-wizard/css/smart_wizard_theme_circles.min.css">
    <link rel="stylesheet" href="../assets/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Select -->
    <link href="~/Assets/plugins/multi-select/css/multi-select.css" rel="stylesheet" />
    <link href="~/Assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/CommonJS/datatables.bootstrap.css" rel="stylesheet" />
</head>
<body class="fix-header card-no-border">
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row" style="height: auto; font-size: 16px;text-align: center; font-family: 'Malgun Gothic'; font-weight: bold;padding-left: 600px;">
                                <img src="~/Assets/images/19.png" style="width: 250px; " />
                            </div>
                            <h3 class="text-uppercase" style="padding-left:655px">Session Time Out!</h3>
                            <div class="form-group" style="padding-left:630px">
                                <a href="@Url.Action("Login","Account")" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to Login</a>
                            </div>
                            </div>
                        </div>
                    </div>
                        </div>
            <div class="form-group" style="padding-left:0px">
                <footer class="footer text-center">© 2020 Everlasting Infotech Pvt Ltd.</footer>
                </div>
            </div>
</section>
    <!-- [ Main Content ] end -->
    @*<script src="../assets/plugins/jquery/js/ "></script>*@
    <!-- Required Js -->
    <script src="../assets/js/vendor-all.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/menu-setting.min.js"></script>
    <script src="../assets/js/pcoded.min.js"></script>

    <script src="../assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="../assets/js/pages/wizard-custom.js"></script>
    <!-- amchart js -->
    <script src="../assets/plugins/amchart/js/amcharts.js"></script>
    <script src="../assets/plugins/amchart/js/gauge.js"></script>
    <script src="../assets/plugins/amchart/js/serial.js"></script>
    <script src="../assets/plugins/amchart/js/light.js"></script>
    <script src="../assets/plugins/amchart/js/pie.min.js"></script>
    <script src="../assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="../assets/plugins/amchart/js/usaLow.js"></script>
    <script src="../assets/plugins/amchart/js/radar.js"></script>
    <script src="../assets/plugins/amchart/js/worldLow.js"></script>
    <!-- notification Js -->
    <script src="../assets/plugins/notification/js/bootstrap-growl.min.js"></script>
    <script src="../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
    <script src="../assets/js/pages/ac-alert.js"></script>

    <!-- dashboard-custom js -->

    <script src="../assets/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="../assets/js/pages/form-validation.js"></script>


    <!-- datepicker js -->
    <script src="../assets/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/js/pages/ac-datepicker.js"></script>


    <!-- Input mask Js -->
    <script src="../assets/plugins/inputmask/js/inputmask.min.js"></script>
    <script src="../assets/plugins/inputmask/js/jquery.inputmask.min.js"></script>
    <script src="../assets/plugins/inputmask/js/autoNumeric.js"></script>

    <!-- toolbar Js -->
    <script src="../assets/plugins/toolbar/js/jquery.toolbar.min.js"></script>
    <script src="../assets/js/pages/ac-toolbar.js"></script>

    <!-- form-picker-custom Js -->
    <script src="../assets/js/pages/form-masking-custom.js"></script>
    <script src="../CommonJS/Angular.min.js"></script>
    <script src="../CommonJS/angular-filter.js"></script>
    <script src="../CommonJS/CommonApp.js"></script>
    <script src="../CommonJS/common-directive.js"></script>
    <script src="../CommonJS/pdfmake.min.js"></script>
    <script src="../CommonJS/html2canvas.min.js"></script>
    <script src="../assets/js/pages/dashboard-custom.js"></script>

    <!-- Float Chart js -->
    <script src="../assets/plugins/flot/js/jquery.flot.js"></script>
    <script src="../assets/plugins/flot/js/jquery.flot.categories.js"></script>
    <script src="../assets/plugins/flot/js/curvedLines.js"></script>
    <script src="../assets/plugins/flot/js/jquery.flot.tooltip.min.js"></script>

    @*NODIFICATION JS*@
    <script src="~/Assets/js/pages/ac-notification.js"></script>
    <script src="~/Assets/js/Notify/jquery.app.js"></script>
    <script src="~/Assets/js/Notify/jquery.core.js"></script>
    <script src="~/Assets/js/Notify/notify-metro.js"></script>
    <script src="~/Assets/js/Notify/notify.min.js"></script>
    <script src="~/Assets/plugins/multi-select/js/jquery.multi-select.js"></script>
    <script src="~/Assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
    <script src="~/Assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Assets/js/pages/form-select-custom.js"></script>
    <!-- dashboard-custom js -->
    <script src="../assets/js/pages/dashboard-analytics.js"></script>
    <!-- file-upload Js -->
    <script src="../assets/plugins/fileupload/js/dropzone-amd-module.min.js"></script>
    <script src="~/Assets/js/account-min.js"></script>
</body>
</html>
